*{

	margin: 0px;
	padding: 0px;
}

head{

	margin: 0px;
	padding: 0px;
}

body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	margin: 15px;
	padding: 0px;
	background: #000 url(../img/bg.png) repeat;
}

#container{
	border: 1px solid red;
	background: #ede9cc;
	margin: 0px;
	max-width: 1180px;
	min-width: 740px;
}


/* Cabeçalho / TOPO */

#topo {
	background: #dbcd87;	
	height: 15.4em;
	min-height: 250px;
	position: relative;
}

#area-logo{
	z-index: 30;
	position: absolute;
	width: 100%;
	height: 250px;
	top: 0px;
	left: 0px;
	background: url(../img/topo-imagem-principal.png) no-repeat;
}

.logo a{
	position: absolute;
	top: 15px;
	left: 15px;
	width: ;
	z-index: 40;
	background: url(../img/logo.png) no-repeat;
	width: 151px;
	height: 66px;
	text-indent: -90000px;
	
}

#area-menu{
	position: absolute;
	z-index: 50;
	width: 450px;
	height: 250px;
	top: 0px;
	right: 0px;
	background: url(../img/topo-imagem-lateral.png) no-repeat;	
}
