body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse;
}

th,
td {
    padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
    background: rgb(85, 191, 218);
}

tr.alternado {
    background: #efefef;
}

tr:hover {
    background: rgb(40, 137, 167);
}

.direita {
    text-align: right;
}