/* ---------- SELECTORS ----------- */

/* ----------- CLASSES ------------ */

/* ------------- IDs ---------------*/

#conteudo{

    border: 5px double red;
    /* espessura, tipo, cor */
 
    /* TIPOS DE BORDAS ::                                   */
    /*        Tipos:                                        */
    /*                  Dotted,                             */
    /*                  Dashed,                             */
    /*                  Solid,                              */
    /*                  Double,                             */
    /*                  Groover,                            */
    /*                  Ridge,                              */
    /*                  Inset,                              */
    /*                  Outset;                             */
    /*                  None,                               */
    /*                  Hidden,                             */


    /* CORES ::                                             */
    /*   cores hexadecimal                                  */
    /*   cores RGB                                          */
    /*   cores RGBA (com opacidade)                         */
    /* https://html-color-codes.info/Codigos-de-Cores-HTML/ */


    /* FONTES ::                                            */
    /* https://www.w3schools.com/css/css_font.asp           */

    font-size: 30px;
    /*  Define o tamanho da letra na tela                   */

    font-family: "palatino linotype", Book Antiqua, Palatino, serif;
    /*  Define o estilo da fonte a ser utilizada            */

    background: grey;
    /*  Define a cor de preenchimento do fundo              */
    /*   cores hexadecimal                                  */
    /*   cores RGB                                          */
    /*   cores RGBA (com opacidade)                         */

}