/*************************
Heritage and Specificity*/


/*--- Heritage---*/
body{
	color: darkred;
	border: 1px solid blue;
}


/*=====Specificity=====*/

p{
	color: blue !important; /* SERÁ APLICADO PRIMEIRO, DEVIDO A PROPRIEDADE "IMPORTANT" */
}

p{
	color: red;
}


/************
 * 
 * SE UM SELETOR FOR MAIS ESPECÍFICO QUE O OUTRO,
 * A REGRA MAIS ESPECÍFICA SERÁ APLICADA
 * (TERÁ PRECED^^ENCIA SOBRE REGRAS MAIS GERAIS)
 * 
 * ORDEM:  "*", "HTML", "HEAD,HEADER,BODY,FOOTER", "DIV", "H1,H2... P", "ID", "CLASS", ETC;
 * 
 * 
 * ***********/

 *{
 	color: red;
 }

H2{ /*3°*/
	color: blue;
}

h2.verde{ /* CLASS 2° */
	color: green;
}

h2#amarelo{ /*ID 1°*/
	color: yellow;
}