/* ----------- TAMANHOS DE TEXTOS ----------- */
/*  px-> Tamanho fixo (padrão do browser = 16px)
    %->  Tamanho Relativo
    em-> Relativo ao tamanho do container pai. */


/* ---------- SELECTORS ----------- */

body{
    font-size: 40px;
    font-family: "times new roman", times, serif;
}

div{
    font-size: 30px;
}

/* ----------- CLASSES ------------ */

.conteudo{
  font-size: 1em;

}

.negrito{
    font-weight: bold;

    /* bold, bolder, normal       */
    /* ou numeral entre 100 a 900 */
}

.italico{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

.overline{
    text-decoration: overline;
}

.line-through{
    text-decoration: line-through;
}

.texto{
    font: bold 40px "lucida sans unicode", "lucida grande", sans-serif;
}

/* ------------- IDs ---------------*/



