/* IDs */

#topo {
    background: blue;
}

#conteudo {
    background: red;
}

#rodape {
    background: green;
}

#assinatura {
    background: pink;
}


/* CLASSES */

#direitos {
    color: blue;
}

.produto {
    background: grey;
    margin: 10px;
}