header {
    border: 1px solid gray;
    background: #f2f2f2;
    padding: 10px;
    margin: 20px;
}

nav {
    border: 1px solid purple;
    background: #f2f2f2;
    padding: 10px;
    margin: 20px;
}

footer {
    border: 1px solid green;
    background: #f2f2f2;
    margin: 20px;
    padding: 10px;
}